<!DOCTYPE html>
<html lang="en">

<head>
  <title>Conspire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Conspire</h1>

  <form action="/tasks" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="task" name="task">
    <button type="submit">Submit</button>
  </form>
  <h2>Tasks</h2>
  <ul>
    <% for(let i = 0; i < tasks.length; i++) {%>
    <li class="task">
      <span><%= tasks[i].name %></span>:
      <span><%= tasks[i].task %></span>
    </li>
    <% } %>
  </ul>


</body>

</html>