<!DOCTYPE html>
<html lang="en">

<head>
  <title>Conspire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Conspire</h1>

  <form action="/tasks" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="task" name="task">
    <button type="submit">Submit</button>
  </form>
  <h2>Tasks</h2>
  <ul>
    <% for(let i = 0; i < tasks.length; i++) {%>
    <li class="task">
      <span><%= tasks[i].name %></span>:
      <span><%= tasks[i].task %></span>
    </li>
    <% } %>
  </ul>

  <div>
    <h2>Updated Tasks</h2>
    <p>Replace first task with a new task</p>
    <button id="update-button">Replace Task</button>
  </div>

  <div>
    <h2>Delete Task</h2>
    <p>Delete one of the task above once completed</p>
    <button id="delete-button">Delete Task</button>
  </div>

  <div id="message"></div>
  <script src="/main.js"></script>
</body>

</html>